{
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "next"
  ],
  "plugins": ["react", "@typescript-eslint", "simple-import-sort"],
  "rules": {
    // "simple-import-sort/imports": "error",
    "simple-import-sort/exports": "error",
    "@typescript-eslint/no-unused-vars": "error",
    "no-console": "off",
    "@typescript-eslint/no-explicit-any": 0
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": "latest"
  }
}
